body {
  margin: 0.25in;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.outer-container {
  border: 2px solid black;
  padding: 20px;
}

.container {
  padding: 20px;
}

h1, h2 {
  font-weight: bold;
  text-decoration: underline;
}

.buttons {
  display: none;
}

